<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>
</head>
<body>
  <form action="/login" class="form" method="post">
    <h2>Login</h2>
    <label for="email">Email Address</label>
    <input name="email"type="email">
    <label for="password">Password</label>
    <input name="password"type="password">
    <input class="button" type="submit" value="Log In →">
  </form>
</body>
</html>