.header {
  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0.6rem 0;
    height: 5rem;
    width: 100%;
    position: fixed;
    background: rgb(191, 102, 199);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
  }
  &__nav__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    .main-logo{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      background-color: #fff;
      @include fontSize(35);
    }
    p {
      color: #fff;
      @include fontSize(20);
      letter-spacing: 2px;
    }
  }
}
