.main {
  border-radius: 4px;
  padding-right: 2em;
  padding-left: 2em;
  width: 450px;
  margin: 0 auto;
  background-color: white;
  padding: 4rem 2rem;
  .new__tweet {
    margin-top: 4rem;
    border: 1px solid lightgray;
    padding: 0 1rem 0 1rem;
    border-radius: 10px;
    background-color: #eee;
    width: 100%;
    &__text {
      border-bottom: 1px solid black;
    }
    &__form {
      display: flex;
      flex-direction: column;
      textarea{
        max-width: 100%;
        max-height: 10rem;
        min-width: 100%;
        min-height: 5rem;
      }
      textarea::placeholder {
        padding: .3rem 0.3rem;
      }
      &__action {
        padding: 0.7rem 0 0.7rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .btn-send {
          display: block;
        }
      }
    }
  }
}