.tweets-wrapper {
  display: flex;
  flex-wrap: wrap-reverse;
}

.tweets__new {
  width: 100%;
  border: 1px solid black;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 8px;
  opacity: 0.7;
  transition: opacity 0.5s;
  &__hd {
    display: flex;
    flex-direction: row;
    img {
      width: 50px;
      height: 50px;
      border-radius: 4px;
    }
    &__profile-name {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 10px;
      h3,
      h4 {
        display: flex;
        align-items: center;
      }
    }
  }
  &__main-content {
    p {
      margin-bottom: 10px;
      word-wrap: break-word; 
    }
    hr {
      margin: 20px 0;
      border-style: solid;
      opacity: 0.1;
    }
  }
  &__ft {
    display: flex;
    justify-content: space-between;
    &__stats {
      display: flex;
      font-size: 15px;
      .likes {
        margin-left: 10px;
      }
    }
    &__icons {
      display: flex;
      justify-content: space-between;
      width: 30%;
      color: transparent;
      transition: color 0.5s;
    }
  }
  &:hover {
    opacity: 1;
  }
  &:hover &__ft .tweets__new__ft__icons{
    color: green;
  }
}