.tweets__new {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  border: 1px solid black;
  margin-top: 3rem;
  opacity: 0.5;
  transition: opacity 0.5s;
  border-radius: 8px;
  &__hd {
    display: flex;
    border-radius: 8px;
    justify-content: space-between;
    background-color: $grey;
    align-items: center;
    padding: 0 1rem 0 1rem;
    &__wrap {
      display: flex;
      align-items: center;
      img {
        width: 55px;
        border-radius: 10px;
        margin-right: 1rem;
      } 
    }
    h2 {
      font-weight: bold;
    }
    p {
      font-style: italic;
    }
  }
  &__mn {
    padding: 0 1rem 0 1rem;
    border-bottom: 1px solid lightgrey;
  }
  &__ft {
    border-radius: 8px;
    padding: 0 1rem 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .icons > i {
      transition: all 1s;
      display: none;
      color: rgb(108, 153, 40);
    }
  }
  &:hover {
    opacity: 1;
  }
  &:hover .icons i {
    display: inline-block;
  }
}
